{% extends 'blog/layout.html' %}
{% load static %}


{% block title %}About{% endblock %}
{% block content %}


<!-- About -->
<br><br><br><br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">About Us</h2>
            <h3 class="section-subheading text-muted">All You Need To Know</h3><br><br><br>

        </div>
    </div>
</div>
<div class="container" id="form-wrapper" style="max-width:500px;margin:auto;"><h2>About The Author</h2></div><br>
<div class="container">
    <p>    My Names are <b> Muhammad-Jamiu Oamen</b>, Popularly Known as  <b> Jamiu Oamen.  </b> A citizen of Nigeria, born in Nigeria and took all Basic Education in Nigeria.
    Finished Secondary School and My Want to Study Python Programming Language Increased daily not that I really wanted to study Software Engineering to the fullest,Just Python spoke to me within,
    Here in Nigeria getting a quality Education was very expensive and waking up one morning and telling your Parents you want to take a course outside the one they had planned for was Very Hard to speak out,Even thinking 
    about it alone was critical to your Heart because right there You could feel like your dad just shouted at You. <br>
    I finished from a sound Secondary School Popularly Know as  <b> (NSSS), NEPA STAFF SECONDARY SCHOOOL </b>  in full. Located at  <b> Egbin, Ijede, Ikorodu. LAGOS NIGERIA </b>  If you haven't heard of the place
    or know the place,Google is Our Best Locator for You. Got a quality Education there. I won't say I was among their best students but I believe I was Okay. <br>
    I took both my Primary And Secondary School Education there. also known as Basic School for countries that Don't use Primary And Secondary Schooling as their Naming System. <br>
    Leaving Secondary School was A great achievement for me, Been in a great Set in That Year. I knew by all faith that My calling Was/Is <b>  Aeronautical And Astronautical Engineering  </b>, But Going into that field without a high standard or above average Idea 
    on Programming Languages Or ICT itself won't sound Good. <br>
    The year I finished Basic/Secondary School, I was meant to further myself in just Aeronautical And Astronautical Engineering but things didn't work out as it was meant to.
    Here in Nigeria One of the worst thing you won't want to experience is finishing Secondary/Basic school and not getting into University. You do think you are going to enjoy things around for a while.
    but not, its different here. This is the moment when you get to know life is not easy, because this time, This is when you will do all kinds of work at home you never thought you will do.
    If you are so lucky,  I mean very Lucky, You will stay at home until You forget some subjects you studied at it.  Its Not A Nice thing At <b>ALL</b> <br><br>
    It started Occuring to ME that I was getting old and staying at home for a whole Year won't be very nice, unfortunate, I didn't taking <b>JAMB</b> examinaton  that Year. Jamb is an organization in Nigeria that gives you access into University, So it's a must situation, You must do it for want to enter State or Federal University here.
    Jamb Simply means <b>JOINT ADMISSION AND MATRICULATION BOARD</b> nothing I could do than stay at home. <br>
    My wanted course was very rear here in Nigeria just two(2) Universities I know do it and One takes just OND, No Long story, I couldn't enter school that year.
    Staying at Home was getting very Obvious, So I told my Parents I couldn't just stay at home a whole year. I meant 365days at home, It turned out my Parents also were thinking about me being at home for a whole year,
    So the asked me what I was willing to learn and told them and that's How my Software Engineering Course started. <br><br>
    Getting into A private Institutions here was easy, all you needed was to have the capital and you are in. My dad heard about a very popular Institution that trains well, He started getting information
    even before he told me anything About it.
    We went to the place together during his free time and My carrier at <b>NiiT</b> started. Own And ran by an Indian, So it's a foreign organization which was also developed here In NIGERIA. My Journey at NiiT started, First Three Months wasn't That easy, But in No Time, I was fine with it.
    Studied Every package Of <b>Microsoft Office, From Word to Outlook</b> also took Examinations on it, Including <b>Networking</b>. It was compulsory to take all those packages going into <b>Software Engineering</b> at NiiT.
    It was a must issue to also have to study One database Management Package,  And the One done at NiiT at my time was <b>(MS-SQL)MicroSoft SQL</b>. Those listed 
    packages had to be studied by every Software Engineering Student at <b>(NiiT)NATIONAL INSTITUTION OF INFORMATION TECHNOLOGYY</b> before going fully Into 
    programming and In this case, it's <b>PYTHON</b>. After Examination in Previous Packages, I then started My Journey As <b>A PROGRAMMER IN PYTHON.</b><br> It has been a nice Journey So Far,not so smooth due to endless time given to DEBUG than the actually
    PROGRAMMING. All Things being Good, I am focused On Web Designing and I use A very Nice FrameWork with Python Which is <b>DJANGO</b>. I am a <b>PYTHON PROGRAMMER</b> Now<br><br>
    I never left My <b>Aeronautical And Astronautical Engineering</b> behind, I Got into A University the following Year And Right Now, I am Studying <b>Aeronautical and Astronautical Engineering</b> And I have also finished My Course at <b>NiiT</b> in Nigeria. Success Will always Come If the Positive Effort Is Kept Into
    what you do BEST or Focused On.</p>
    <br><br><br>
    <div class="container" id="form-wrapper" style="max-width:500px;margin:auto;"><h2>About The Blog</h2> </div> <br>
    <p>Our Blog allows anyone to upload any Post they want and other Users will either Comment On their Post and can even Be used to Trade.
        for term on trading check our <a href="{% url 'terms' %}">Terms</a>. You have the freedom to Post as Many Post as Possible everyday,
        dependinh on what you have. Our engine Is always ready to display your post to the world. We have a strong database set up that can hold your 
        post for as long as you want them in the site.
        All post will be viewed any form of Pornograpy, will be denied of posting. It's a clean blog hoping to enlighten and help anyone in many fields.
        It's Always you to Comment On Post and Even like and save it as Favourite Post, so as to View it later time.
        We will add more features Later when We upgrade. We won't stop upgrading Our site to satisy Every User. We have made this blog a very friendly interface
        that even the smallest of mobile phones will view every detail of the site correctly, We used A mobile first FrontEnd Design to make it more beautiful
        even on Smart Phone with Either Large or Small Screen. Tablets ain't Left Out. <b>We Hope To Give You, JUST THE BEST</b>
    </p>
</div>
<section class="page-section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="{% static 'img/about/1.jpg' %}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2012-2018</h4>
                                <h4 class="subheading">Start Up</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Building was'nt easy, but We wanted something beautiful kept to satisfy
                                    Everyone.
                                    We built ourselves Gradualy Even with Low capital,
                                    We kept Pushing!
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="{% static 'img/about/2.jpg' %}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>December 2018</h4>
                                <h4 class="subheading">An Agency is Born</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Gathered to discus every move became SUCCESSFUL.
                                    Stopping is Cowardly And we Only Have vibes to continue
                                    putting up Somethings Beyond Every Being's Thinking!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="{% static 'img/about/3.jpg' %}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>February 2019</h4>
                                <h4 class="subheading">Transition to Full Service</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Our Baby is Ready to Give the world what they
                                    needed to see. Saving the best for last!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="{% static 'img/about/4.jpg' %}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 2019</h4>
                                <h4 class="subheading">Readiness To Launch</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We are all set to put Something Beyond down.
                                    We had stayed Awake all night Long for our Memorable count Down for
                                    our Site to BE fully Available WorldWild
                                    AND NOW, IT IS AVAILABLE!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Stay
                                <br>By Us
                                <br>Always!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>



<!-- Team -->
<section class="bg-light page-section" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                <h2 class="section-subheading text-muted">Meet The Difference Makers.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% static 'img/team/oamenjamiu.jpg' %}" alt="">
                    <h4>Jamiu Oamen</h4>
                    <p class="text-muted">Lead Developer, Programmer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="mailto:oamenjamiu@gmail.com">
                                <i class="fab fa-google"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="http://www.facebook.com/oamenjamiu">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/jamiu-oamen-577984186/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% static 'img/team/2.jpg' %}" alt="">
                    <h4>Nathaniel Asaaju</h4>
                    <p class="text-muted">Lead Designer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="Httpd://www.twitter.com/asaaju_nath">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="http://www.facebook.com/asaaju.nathaniel">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://wa.me/+2347062934440/?text=I'm%20from%20Jay's%20Blog%20.com%20I%20want%20to%20Chat%20Sir!!">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% static 'img/team/abdullah.jpg' %}" alt="no image">
                    <h4>Abdullahi Dauda</h4>
                    <p class="text-muted">Lead Graphic Designer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="mailto: [Abdullahomotoke@gmail.com]">
                                <i class="fab fa-google"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="Http://www.twitter.com/tokelee_inc">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/abdullah-omotoke-95a654139">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% static 'img/team/1.jpg' %}" alt="">
                    <h4>Segun James</h4>
                    <p class="text-muted">Lead FrontEnd Developer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% static 'img/team/oloruntoba.jpg' %}" alt="">
                    <h4>Seun Oloruntoba</h4>
                    <p class="text-muted">Lead Resource Manager and Project Developer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="https://twitter.com/Seuntoba2?s=08">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://wwww.instagram.com/tobs.wrld?r=nametag">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="mailto: Saintoloruntoba@gmail.com">
                                <i class="fab fa-google"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% static 'img/team/precious.jpg' %}" alt="">
                    <h4>Precious Oyewumi</h4>
                    <p class="text-muted">Lead Marketer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="https://twitter.com/OyewumiPrecious1?s=08">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/oyewumiprecious/">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/precious-adewale-6ab1a7141">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
            <h2>
                <p class="large text-muted">We Have Came Together Hoping To Favour
                    Everyone out there And We Won't Stop Giving
                    Our Best To Make <br><h1>You</h1><br> Happy And having
                    A nice And fulfilled Time On Our Blog.
                    <h1>ENJOY YOUR TOUR!</h1>
                </p>
            </h2><br><br><br>
            <h3>For Sponsorship, Advert, Help And Support, Contact Us By Clicking <a href="{% url 'contact' %}">
                <button class="btn btn-outline-success">>Here
            </button>
            </a>    
             </h3>
            </div>
        </div>
    </div>
</section>


{% endblock %}