<!-- {% load static %}

<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background: url("{% static 'images/index1.jpg' %}") no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
        </style>
    </head>
</html>

 <html>
    <head>
        <style>
            body {
                background-color: rgba(78, 170, 165, 0.966);
            }
        </style>
    </head>
</html> -->