{% extends 'blog/layout.html' %}
{% load static %}


{% block title %}Contact{% endblock %}
{% block content %}

<br><br><br><br>
    <!-- Contact -->
    <section class="page-section" id="contact">
        <div class="container text-white">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Contact Us</h2>
                    <h3 class="section-subheading text-muted">We are Forever Ready To Hear From YOU.</h3>
                </div>
            </div>
            <div id="form-wrapper" style="max-width:500px;margin:auto;">

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
{% endblock %}