{% extends 'blog/base.html' %}
{% block title %}Edit Profile | {{ block.super }}{% endblock %}
{% block content %}
</div>
<br>
<br>
<br>
<br><br>
<br>
<br>
<div class="container" id="form-wrapper" style="max-width:500px;margin:auto;">
    <form action="." method="post" enctype="multipart/form-data">
        <strong>
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        </strong>
        <input type="submit" value="Save Changes" class="btn btn-outline-success">
    </form>
</div>
<br>
<br>
<br>
<br><br>
<br>
<br>
{% endblock %}