
<footer class="footer text-white">
    <div class="row">
        <div class="col-md-4">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero quod odit laboriosam. Odit neque doloremque quasi minus nesciunt repudiandae libero sapiente! Illo, error incidunt architecto eius pariatur ullam nobis sequi!.
            </p>
        </div>
        <div class="col-md-4">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero quod odit laboriosam. Odit neque doloremque quasi.
            </p>
        </div>
        <div class="col-md-4">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero quod odit laboriosam. Odit neque doloremque quasi.
            </p>
        </div>
    </div>
</footer>